body {
    font-family: sans-serif;
    margin: 20px;
   background-color: aquamarine;
}

h1 {
    color: #333;
}

label {
    margin-right: 10px;
}

#countryInfo,
#holidays {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    background-color: yellowgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 1s;
}

button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 1s;
}